<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'chat/css/reset.css' %}" />
	<link rel="stylesheet" href="{% static 'chat/css/change.css' %}" />
    <script type="text/javascript" src="{% static 'chat/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/js/login.js' %}"></script>
    <title>用户资料</title>
</head>
<body>
	<div class="page">
    	<div class="loginwarrp">
	    	<div class="logo">用户资料</div>
	    	<div class="login_form">
	    		<form method="post" action="/chat/change_password/">
	    			{% csrf_token %}
	    			<li class="login-item">
						<span>用户名：</span>
						<input type="text" id="username" name="username" class="login_input" value={{ username }}>
						<span id="count-msg" class="error"></span>
					</li>
					<li class="login-item">
						<span>邮 箱：</span>
						<input type="text" id="email" name="email" class="login_input" value={{ email }}>
					</li>
					<li class="login-item">
						<span>密 码：</span>
						<input type="password" id="password" name="password" class="login_input" value={{ password }}>
					</li>
					<li class="login-item">
						<span>确认密码：</span>
						<input type="password" id="confirm_password" name="confirm_password" class="login_input" value={{ confirm_password }}>
					</li>
                    <li class="login-item">
                        <span>授权码：</span>
                        <input type="password" id="send_password" name="send_password" class="login_input" value={{ send_password }}>
                    </li>
					<li class="login-sub">
						<input type="submit" name="Submit" value="确认" />
					</li>
	    		</form>
	    		<script type="text/javascript">
                	if ({{ error }}==1)
                    	alert("修改成功");
            	</script>
	    	</div>
		</div>
    </div>
</body>
<script>
	$(function() {
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);
    chatsock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        var chat = $("#chat")
        var ele = $('<tr></tr>')

        ele.append(
            $("<td></td>").text(data.timestamp)
        )
        ele.append(
            $("<td></td>").text(data.handle)
        )
        ele.append(
            $("<td></td>").text(data.message)
        )
        
        chat.append(ele)
    };
    $("#chatform").on("submit", function(event) {
        var message = {
            handle: $('#handle').val(),
            message: $('#message').val(),
        }
        chatsock.send(JSON.stringify(message));
        $("#message").val('').focus();
        return false;
    });
});
	
</script>
</html> 